@media only screen and (min-width: 960px) {

body {
  margin: 0;
  padding: 0;
  background-color: #e9eaed;
  font-family: 'lucida grande', tahoma, Segoe UI, San Francisco, Roboto;
}

#barra {
  height: 43px;
  background-color: #5066ae;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 43;
  z-index: 1000;
}

#contingut {
  width: 852px;
  margin: auto;
  overflow: hidden;
}

#contingut #cap {
  width: 852px;
  height: 357px;
  margin: auto;
  background-image: url(img/vikings.jpg);
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid color: #DDD;
  border-radius: 3px;
}

#contingut #cap img {
  position: relative;
  top: 170px;
  left:21px;
  border-radius: 50%;
  border: solid white;
  box-shadow: 2px 2px 2px #666666;
}

#contingut #cap h2 {
  color: white;
  position: relative;
  top: 50px;
  left: 230px;
}

#contingut #menu {
  height: 43px;
  background-color: grey;
  width: 538px;
  float: right;
  padding: 0;
  margin: 0;
  position: relative;
  top: 68px;
}

#menu li {
  float: left;
  margin: 0 1px 0 0;
  display: block;
  height: 43px;
  padding: 0 15px;
  background-color: white;
  line-height: 43px;
}

#ppal {
  overflow: hidden;
}

#seccions {
  float: left;
  width: 298px;
  overflow: hidden;
}

.esquerra {

}

.dreta {
  width: 515px;
  float: right;
  clear: right;
}

.esquerra, .dreta {
  background-color: white;
  border-radius: 3px;
  border: solid 1px color: #DDD;
  margin-top: 12px;
  overflow: hidden;
  font-size: 12px;
  padding: 12px;
}

#presentacio, #amistats, #fotos {

}

#seccions h3 {
  text-indent: 30px;
  height: 21px;
  background-image: url(img/lateral.png);
  background-repeat: no-repeat;
  background-position: 0 -24px;
  padding-top: 3px;
}

#presentacio h3 {
  background-position: 0px 0px;1
}

#presentacio p {
  background-position: 0px 0px;
  border-bottom: solid 1px #DDD;
  box-shadow: 0 1px 0 #DDD;
}

#presentacio .estudis {
  list-style-image: url(icn/estudis.png);
}

.domicili {
  list-style-image: url(icn/domicili.png);
}

.feina {
  list-style-image: url(icn/feina.png);
}

.naixement {
  list-style-image: url(icn/esdeveniments.png);
}

#surprise h3 {
  background-position: 0px -72px;
}

#amistats h3 {
  background-position: 0px -48px;
}

#amistats ul {
  padding: 0;
}

#amistats li {
  width: 86px;
  height: 86px;
  margin: 2px;
  float: left;
  list-style-type: none;
  line-height: 150px;
  text-align: center;
}

#amistats ul {
  list-style-type: none;
}

#amistats a:link {
  display: block;
  text-decoration: none;
  color: grey;
}

#amistats #SP {
  background-image: url(https://sperez2019crn.github.io/M08/s2m8uf104_sperez/img/fotoperfil.jpg);
  background-size: cover;
}

#amistats #AG {
  background-image: url(https://agarcia2019crn.github.io/M08/s2m8uf104_garciaa/img/perfil.jpg);
  background-size: cover;
}

#amistats #SG {
  background-image: url(https://sgarzon2019crn.github.io/M08/s2m8uf104_facebook/img/perfil.jpg);
  background-size: cover;
}

#amistats #OL {
  background-image: url(https://olopez2019crn.github.io/M08/s2m8uf0104_lopez/img/homero.png);
  background-size: cover;
}

#amistats #YR {
  background-image: url(https://yromero2019crn.github.io/M08/UF1/s2m8uf104_facebook/img/perfil1.jpg);
  background-size: cover;
}

#amistats #OP {
  background-image: url(https://oparicio2019crn.github.io/M08/UF1/s2m8uf104_oparicio/img/perfil.png);
  background-size: cover;
}

#amistats #SF {
  background-image: url(https://sfernandez2019crn.github.io/M08/s2m8uf104_fernandez/img/gos.png);
  background-size: cover;
}

#amistats #IP {
  background-image: url(https://iprados2019crn.github.io/M08/s2m8uf104_iprados/img/fotoperfil.jpg);
  background-size: cover;
}

#amistats #VH {
  background-image: url(https://vherrero2019crn.github.io/M08/s2m8uf104facebook/img/perfil.png);
  background-size: cover;
}


#fotos h3 {
  background-position: 0px -24px;
}

#fotos ul {
  padding: 0;
  list-style-type: none;
}

#fotos li {
  width: 86px;
  height: 86px;
  margin: 2px;
  float: left;
  list-style-type: none;
  line-height: 150px;
  text-align: center;
}

#fotos .F1 {
  background-image: url(img/F1.jpg);
  background-size: cover;
}

#fotos .F2 {
  background-image: url(img/F3.jpg);
  background-size: cover;
}

#fotos .F3 {
  background-image: url(img/F2.jpg);
  background-size: cover;
}

#post1 li {
  list-style-type: none;
  text-decoration: none;
  display: inline;
  background-color: #f5f5f7;
  height: 38px;
  padding: 12px;
  margin: 5px;
  border-radius: 10px;
  position: relative;
  top: 12px;
}

#post1 li:hover {
  opacity: 0.5;
}

#post1 ul {
  height: 38px;
  padding: 0;
  margin: 0;
}

#pensament {
  display: block;
  clear: left;
  position: relative;
  left: -12px;
  height: 71px;
  width: 516px;
  font-size: 1.5em;
  margin-left: 65px;
  border: 0px;
}

#estat_fotovideo {
 background-image: url(icn/foto.png);
 background-repeat: no-repeat;
 background-position: 6px 8px;
}


#estat_etiquetar {
 background-image: url(icn/etiquetar.png);
 background-repeat: no-repeat;
 background-position: 6px 8px;
}

#estat_sentiment {
 background-image: url(icn/sonrisa.png);
 background-repeat: no-repeat;
 background-position: 6px 8px;
}

#botonera_estat li {
 padding-left: 30px;
}

#botonera_estat li:hover{
 opacity: 0.5
}

.entrada {

}

.entrada h4 {
  height: 40px;
}

.entrada h4 span {
  color: blue;
}

.entrada h5 {
  color: grey;
}

.entrada p {

}

.entrada h6 {
  text-indent: 20px;
  background-image: url();
  border-bottom: 1px solid grey;
}

.entrada ul {
  height: 40px;
  width: 100%;
  overflow: hidden;
  padding: 0 12px;
}

.entrada ul li {
  display: list-item;
  list-style-image: url(icn/cor.png);
  float: left;
}

.entrada input {
  display: block;
  clear: both;
}

#MG {
  list-style-type: none;
}

#CM {
  list-style-type: none;
}

#CP {
  list-style-type: none;
}

}








@media only screen and (max-width: 959px) {

  body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'lucida grande', tahoma, Segoe UI, San Francisco, Roboto;
  }

  #barra {
    visibility: hidden;
  }

  #contingut {

  }

  #contingut #cap {
    background-image: url(img/vikings.jpg);
    background-repeat: no-repeat;
    height: 254px;
    background-size: 100% auto;
    text-align: center;
    font-family: helvetica;
   }

  #contingut #cap img {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    border: solid 4px white;
    margin-top: 173px;
  }

  #contingut #cap h2 {
    font-size: 28px;
    font-weight: 200;
  }

  #contingut #menu {
    visibility: hidden;
  }

  #menu li {

  }

  #ppal {
    margin-top: 262px;
  }

  #seccions {

  }

  .esquerra {

  }

  .dreta {

  }

  .esquerra, .dreta {

  }

  #presentacio, #amistats, #fotos {

  }

  #seccions h3 {

  }

  #presentacio li {
    list-style-type: none;
    width: 60%;
    font-size: 18px;
    margin: 0 auto;
  }

  #presentacio h3 {

  }

  #presentacio p {

  }

  #presentacio .estudis {
    list-style-image: url(icn/estudis.png);
  }

  .domicili {
    list-style-image: url(icn/domicili.png);
  }

  .feina {
    list-style-image: url(icn/feina.png);
  }

  .naixement {
    list-style-image: url(icn/esdeveniments.png);
  }

  #surprise h3 {
  }

  #amistats h3 {
  }

  #amistats ul {
  }

  #amistats li {

  }

  #amistats ul {
  }

  #amistats a:link {

  }

  #amistats #SP {

  }

  #amistats #AG {

  }

  #amistats #SG {

  }

  #amistats #OL {

  }

  #amistats #YR {

  }

  #amistats #OP {

  }

  #amistats #SF {

  }

  #amistats #IP {

  }

  #amistats #VH {

  }


  #fotos h3 {

  }

  #fotos ul {

  }

  #fotos li {

  }

  #fotos .F1 {

  }

  #fotos .F2 {

  }

  #fotos .F3 {

  }

  #post1 li {

  }

  #post1 li:hover {
  }

  #post1 ul {

  }

  #pensament {

  }

  #estat_fotovideo {

  }


  #estat_etiquetar {

  }

  #estat_sentiment {

  }

  #botonera_estat li {
  }

  #botonera_estat li:hover{
  }

  .entrada {

  }

  .entrada h4 {
  }

  .entrada h4 span {
  }

  .entrada h5 {
  }

  .entrada p {

  }

  .entrada h6 {

  }

  .entrada ul {

  }

  .entrada ul li {

  }

  .entrada input {

  }

  #MG {
  }

  #CM {
  }

  #CP {
  }
}
